{% extends 'index.html' %}

{% block title %}Mon Compte{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center">
        <div class="card shadow moncompte">
          <div class="card-body">
            <h5 class="card-title">#{{Joueur.idJoueur.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{Joueur.idJoueur.first_name}} {{Joueur.idJoueur.last_name}}</h6>
            <div class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Quartier: {{Joueur.quartierJoueur.nomQuartier}}
                    </li>
                    <li class="list-group-item">
                        Email: {{ Joueur.idJoueur.email }}
                    </li>
                    <li class="list-group-item">
                        Demandes d'amis:
                        {% if NbDemandes > 0 %}
                            <a href="{% url 'dashboard_amis' %}" ><span class="badge badge-primary">{{ NbDemandes }}</span></a>
                        {% else %}
                            Aucune
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Invitations à un match:
                        {% if NbInvitations > 0 %}
                            <a href="{% url 'list_invitations_joueur' %}" ><span class="badge badge-primary">{{ NbInvitations }}</span></a>
                        {% else %}
                            Aucune
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="btn-group-vertical d-flex justify-content-center">
              <a href="{% url 'update_joueur' %}" class="btn btn-outline-primary"><i class="material-icons">create</i>Modifier mes informations</a>
              <a href="#" class="btn btn-outline-danger"><i class="material-icons">delete_forever</i>Supprimer mon compte</a>
            </div>
          </div>
        </div>
    </div>
{% endblock %}