{% extends 'index.html' %}

{% block title %}Mes Amis{% endblock %}

{% block maincontent %}

    <div class="d-flex justify-content-center">
      {% csrf_token %}
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mes amis</h5>
            <div id="feedback_mesamis"></div>
            <ul  class="list-group list-group-flush">
                {% for joueur in listeAmis %}
                <li class="d-flex justify-content-between align-items-center list-group-item">
                    <span>{{ joueur.idJoueur.username }}</span>
                    <button class="btn btn-outline-danger btn-sm" onclick="supprimer_amis('{{ joueur.idJoueur.id }}')"><i class="material-icons">clear</i></button>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Rechercher un ami</h5>
            <p class="card-text">Tapez le nom d'utilisateur de votre ami et lancez une recherche.</p>
            <div id="feedback_recherche_ami"></div>
            <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Nom d'utilisateur" name="rechercheUsername" id="id_rechercheUsername">
                <div class="d-flex justify-content-center m-2">
                    <button onclick="recherche_amis()" id="btn_rechercheUsername"  class="btn btn-outline-success" >Rechercher</button>
                </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Faire une demande d'ami</h5>
            <p class="card-text">Tapez le nom d'utilisateur et envoyez votre demande.</p>
            <div id="feedback_demande_ami"></div>
            <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Nom d'utilisateur" name="demandeUsername" id="id_demandeUsername">
                <div class="d-flex justify-content-center m-2">
                    <button onclick="demande_amis()" id="btn_demande_usernameAmis" class="btn btn-outline-success" >Envoyer</button>
                </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Demandes reçues</h5>
                <div id="feedback_demande_reçue"></div>
                <ul  class="list-group list-group-flush">
                    {% for demande in listeDemandes %}
                        <li class="d-flex justify-content-between align-items-center list-group-item">
                            <span>De : {{ demande.joueur1Amis.idJoueur.username }}</span>
                            <button class="btn btn-outline-primary btn-sm" onclick="accepter_amis('{{ demande.joueur1Amis.idJoueur.id }}')"><i class="material-icons">check_circle</i></button>
                            <button class="btn btn-outline-danger btn-sm" onclick="supprimer_amis('{{ demande.joueur1Amis.idJoueur.id }}')"><i class="material-icons">clear</i></button>
                        </li>
                    {% endfor %}
                </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}