{% extends 'index.html' %}

{% block title %}Organiser un match{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
            <h5>Mes rencontres </h5>
            </div>
            <div id="feedback"></div>
            <ul class="list-group list-group-flush">
            {% for rencontre in ListRencontre %}
                <li class="list-group-item">
                    <a href="{% url 'read_rencontre' rencontre.idRencontre %}">{{ rencontre }}</a>
                    <a href="{% url 'inviter_mesamis' rencontre.idRencontre %}"class="btn btn-outline-primary"><i class="material-icons">send</i></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}