{% extends 'index.html' %}

{% block title %}Organiser un match{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center flex-wrap">

        <div class="list-group">
            {% for rencontre in ListRencontre %}
                <div class="list-group-item">
                    <div class="d-flex justify-content-center">
                        {{ rencontre.lieuRencontre }} le {{ rencontre.dateRencontre }}
                    </div>
                    <div class="d-flex justify-content-between m-1">
                        <a class="btn btn-outline-primary" href="{% url 'read_rencontre' rencontre.idRencontre %}" >Voir la rencontre</a>
                        <a href="{% url 'inviter_mesamis' rencontre.idRencontre %}" class="btn btn-outline-primary">Inviter mes amis</a>
                    </div>
                </div>
            {% endfor %}
            {% if not ListRencontre %}
                <div class="list-group-item">
                    <span>Pas encore de rencontre.. Organisez un match !</span>
                </div>
            {% endif %}

        </div>
    </div>
    <nav class="nav_pagination d-flex justify-content-center mt-5">
      <ul class="pagination">
          {% if ListRencontre.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'list_rencontre' ListRencontre.previous_page_number %}"> {{ ListRencontre.previous_page_number }} </a></li>
          {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ ListRencontre.number }}</a></li>
          {% if ListRencontre.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'list_rencontre' ListRencontre.next_page_number %}"> {{ ListRencontre.next_page_number}} </a></li>
          {% endif %}
      </ul>
    </nav>
{% endblock %}