{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <link href="{% static 'css/style_projetweb.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg shadow">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuResponsive" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="material-icons">menu</i></span>
      </button>
      <a class="navbar-brand" href="{% url 'accueil' %}"><img src="https://img.icons8.com/ios/50/000000/football.png">PROJETWEB</a>

      <div class="collapse navbar-collapse" id="menuResponsive">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">#{{ request.user.username }}</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Amis</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Mes amis</a>
              <a class="dropdown-item" href="#">Invitations en amis</a>
              <a class="dropdown-item" href="#">Rechercher un amis</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Matchs</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Tout mes matchs</a>
              <a class="dropdown-item" href="#">Organiser un match</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stades</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Stades dans mon quartier</a>
              <a class="dropdown-item" href="#">Voir la carte des stades</a>
            </div>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="my-2 my-lg-0">
          <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'logout' %}">Deconnexion</a>
        </div>
        {% else %}
        <div class="my-2 my-lg-0">
          <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'signup' %}">S'inscrire</a>
          <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'signin' %}">Connexion</a>
        </div>
        {% endif %}
      </div>
    </nav>


    <div class="container mt-5">
    {% block maincontent %}

        <div class="row">
            <div class="col">
              {% if not user.is_authenticated %}
              <div class="card-deck">
                <div class="card text-center">
                  <div class="card-header">
                    Bienvenue sur FootEntreAmis
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Alors ? Pas encore inscrit !</h5>
                    <p class="card-text">Inscrit toi dès maintenant et organise des matchs de foot avec tes amis dans les différents stades de la ville.</p>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'signup' %}">S'inscrire</a>
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'signin' %}">Connexion</a>
                  </div>
                </div>
                <div class="card text-center">
                  <div class="card-header">
                    Je suis de passage
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Je souhaite consulter les stades à Montpellier</h5>
                    <p class="card-text">Notre carte répertorie tout les stades de la ville de Montpellier. Même pas besoin de se connecter pour ça !</p>
                    <a href="#" class="btn btn-primary">Voir la carte des stades</a>
                  </div>
                </div>

              </div>
              {% endif %}
            </div>
        </div>

    {% endblock %}
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/javascript_projetweb.js'%}"></script>
  </body>
</html>
