{% extends 'index.html' %}

{% block title %}Inviter mes amis{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center">
        {% csrf_token %}
        {% if succes %}
        <div class="card">
            <div class="card-header">
            <h5>Rencontre du {{ Rencontre.dateRencontre }} à {{ Rencontre.heureRencontre }}.</h5>
            </div>
            <div id="feedback"></div>
            <ul class="list-group list-group-flush">
            {% for joueur in listJoueurAmis %}
                <li class="list-group-item">
                    {{ joueur.idJoueur.username }}
                    <button class="btn btn-outline-primary" onclick="inviter_amis('{{ joueur.idJoueur.username }}','{{ Rencontre.idRencontre }}')"><i class="material-icons">check_circle</i></button>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        {{ feedback }}
        {% endif %}
    </div>
{% endblock %}