{% extends 'index.html' %}

{% block title %}Inviter mes amis{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center">
        {% csrf_token %}
        <div class="card shadow">
            <div class="card-header">
            <h5>Inviter mes amis au match</h5>
            <span>Rencontre du {{ Rencontre.dateRencontre }} à {{ HeureRencontre }} : <a href="{% url 'read_stade' Rencontre.lieuRencontre.idStade %}">{{ Rencontre.lieuRencontre }}</a>.</span>
            </div>
            <div id="feedback"></div>
            <ul class="list-group list-group-flush">
            {% for joueur in listJoueurAmis %}
                <li class="d-flex justify-content-between align-items-center list-group-item">
                    <span>{{ joueur.idJoueur.username }}</span>
                    <button class="btn btn-outline-primary" onclick="inviter_amis('{{ joueur.idJoueur.id }}','{{ Rencontre.idRencontre }}')"><i class="material-icons">add_circle_outline</i></button>
                </li>
            {% endfor %}
            {% if not listJoueurAmis %}
            <li class="list-group-item d-flex justify-content-center">
                Pas encore d'amis ? Rendez-vous sur la page "Amis" pour rechercher dès maintenant vos futurs coéquipiers !
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}