{% extends 'index.html' %}

{% block title %}Invitations reçues{% endblock %}

{% block maincontent %}
    <div class="d-flex justify-content-center">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
            <h5>Invitations en attente</h5>
            </div>
            <div id="feedback"></div>
            <ul class="list-group list-group-flush">
            {% for invitation in Invitations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'read_rencontre' invitation.idRencontre.idRencontre %}">Invitation de {{ invitation.joueurDemandeur.idJoueur.username }}</a>
                    <button class="btn btn-outline-primary" onclick="accepter_invit('{{ invitation.idRencontre.idRencontre }}')"><i class="material-icons">check_circle</i></button>
                    <button class="btn btn-outline-danger" onclick="rejeter_invit('{{ invitation.joueurDemandeur.idJoueur.id }}','{{ invitation.idRencontre.idRencontre }}')"><i class="material-icons">clear</i></button>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}